h2 {
    color:blue;
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    color: green;
    font-size: 25px;
    margin-bottom: 8px;
}

hr {
    border: 1px solid black;
    margin: 20px;
}

p {
    font-family: Arial,sans-serif;
    font-size: 20px;
    color: black;
}

body {
    background-color: grey;
    padding: 20px;
    margin: 20px;
}

p span {
    color: red;
    font-weight: bold;
}

time[datetime] {
    color: blue;
    font-style:italic;
}

div img {
    width:50%;
    height: auto;
    margin: auto;
}

a:hover {
    color: red;
}
