body {
  background-color: lightblue;
  font-family: Times, serif;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  color: black;
  padding: 5px;
}

nav a:hover {
  color: white;
  background-color: blue;
}

h1 {
  text-align: center;
  color: blue;
}

h2 {
  color: blue;
}

section {
  margin: 10px;
  padding: 10px;
  background-color: white;
  float: left;
  width: 56%;
  height: 500px;
}

aside {
  float: right;
  width: 38%;
  margin: 10px;
  padding: 10px;
  background-color: white;
  height: 500px;
}

footer {
  clear: both;
  text-align: center;
  padding: 10px;
  background-color: blue;
  color: white;
}